<div class="row">
    <div class="col s6 offset-s3 l4 offset-l4">
        <%= simple_form_for(@admin) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
                <%= f.input :email %>
                <%= f.input :password %>
                <%= f.input :password_confirmation %>
            </div>
            <div class="form-actions">
                <%= f.button :submit, class: 'btn col s12' %>
            </div>
        <% end %>
        <div class="seperator"></div>
        <%= link_to "Back", :back, class: 'red btn col s12', data: {confirm: "Unsaved changes will be removed. Are you sure?"} %>
    </div>
</div>