<div class="address_form">
  <div class="form_title">
    <p><%= title %></p>
    <%= render 'billing_toggle' if title == 'Billing info' %>
  </div>
  <%= builder.input :name %>
  <%= builder.input :street_address %>
  <%= builder.input :extended_address %>
  <div class="row">
    <%= builder.input :city, wrapper_html: { class: 'city-state' } %>
    <%= builder.input :state, wrapper_html: { class: 'city-state' } %>
  </div>
  <%= builder.input :postal_code %>
  <%= builder.input :country, prompt: true, input_html: { class: 'browser-default' } %>
</div>