<div class="billing_toggle">
  <a id="address_duplicate" class="btn-flat waves-effect tooltipped" data-position="left" data-delay="50" data-tooltip="Copy from shipping">
    <i class="tiny material-icons">content_copy</i>
  </a>
</div>