<div class="contact_form">
  <p>Contact info</p>
  <%= f.input :phone, wrapper_html: { class: 'iconed' } do %>
    <i class="material-icons prefix">phone</i>
    <%= f.input_field :phone %>
  <% end %>
  <%= f.input :email, wrapper_html: { class: 'iconed' } do %>
    <i class="material-icons prefix">email</i>
    <%= f.input_field :email %>
  <% end %>
</div>