<div class="clear-text">
  <div class="address_forms">
    <%= f.simple_fields_for(:shipping, defaults: { input_html: { class: 'shipping', autocomplete: 'off' } }) do |shipping_builder| %>
      <%= render 'address_form', title: 'Shipping info', builder: shipping_builder %>
    <% end %>
    <%= f.simple_fields_for(:billing, defaults: { input_html: { class: 'billing', autocomplete: 'off' } }) do |billing_builder| %>
      <%= render 'address_form',title: 'Billing info', builder: billing_builder %>
    <% end %>
  </div>
  <div class="divider"></div>
  <%= render 'contact_form', f: f %>
</div>