<div class="form-section-wrapper">
  <div class="form-section">
    <%= render @cart %>
  </div>
  <%= simple_form_for(@order, html: { class: 'container' }) do |f| %>
    <div class="form-section">
      <%= render 'customer_info', f: f %>
    </div>
    <div class="form-section">
      <%= render 'card_info' %>
      <div class="form-actions center row">
        <div class="seperator"></div>
        <%= f.button :submit, 'Checkout', class: 'btn-flat btn-border waves-effect waves-light purple-text', data: { disable_with: "Please wait..." } %>
      </div>
    </div>
  <% end %>
</div>