<div class="progress-wrapper row">
  <div class="col s12 m8 offset-m2">
    <div class="progress">
      <div class="determinate" style="width: 0"></div>
    </div>
    <div>
      <div class="btn-progress">
        <a class="step" progress='0%' stage='1'><i class="material-icons">shopping_cart</i></a>
      </div>
      <div class="btn-progress">
        <a class="step" progress='50%' stage='2'><i class="material-icons">person</i></a>
      </div>
      <div class="btn-progress">
        <a class="step" progress='100%' stage='3'><i class="material-icons">payment</i></a>
      </div>
    </div>
  </div>
</div>