<%= render 'progress' %>
<% if !@cart.nil? && !@cart.cart_items.blank? %>
    <%= render 'form' %>
<% else %>
    <%= render 'empty' %>
<% end %>
<div class="progress_arrow purple z-depth-3">
    <div class="container">
        <a class="left white-text" id="prev_progress">
            <i class="material-icons left">chevron_left</i>
            previous
    </a>
        <a class="right white-text" id="next_progress">
            next
      <i class="material-icons right">chevron_right</i>
        </a>
    </div>
</div>