<span><%= @order.id %></span><br>
<span><%= @order.transaction_id %></span><br>
<span><%= @order.cart_id %></span><br>
<span><%= @order.phone %></span><br>
<span><%= @order.email %></span><br>
<span><%= @order.ip_address %></span><br>
<p>Shipping</p>
<span><%= @order.shipping.name %></span><br>
<span><%= @order.shipping.street_address %></span><br>
<span><%= @order.shipping.extended_address %></span><br>
<span><%= @order.shipping.city %> <%= @order.shipping.state %> <%= @order.shipping.postal_code %></span><br>
<span><%= @order.shipping.country %></span><br>
<p>Billing</p>
<span><%= @order.billing.name %></span><br>
<span><%= @order.billing.street_address %></span><br>
<span><%= @order.billing.extended_address %></span><br>
<span><%= @order.billing.city %> <%= @order.billing.state %> <%= @order.billing.postal_code %></span><br>
<span><%= @order.billing.country %></span><br>
<span><%= link_to 'Back', orders_path %></span><br>