<% if @home && @abouts %>
    <div class="home" style="background-image: url('<%= @home.image.url %>')">
        <div class="center-align">
            <%= image_tag("mashirona_font_logo.svg", class: "home_logo") %>
            <h4>Lorem Ipsum</h4>
        </div>
    </div>
    <div id='about'>
        <% @abouts.each do |about| %>
            <div class="about">
                <%= image_tag(about.image.url) %>
            </div>
        <% end %>
    </div>
<% end %>