<%= simple_form_for(@contact, url: contact_path, defaults: {input_html: {autocomplete: 'off'}}) do |f| %>
    <%= f.input :name, wrapper_html: {class: 'col s12 m6'} %>
    <%= f.input :email, wrapper_html: {class: 'col s12 m6'} %>
    <%= f.input :subject, collection: [:Enquiry, :Feedback, :Support], prompt: true, wrapper_html: {class: 'col s12'}, input_html: { class: 'browser-default', required: true } %>
    <%= f.input :message, as: :text, wrapper_html: {class: 'col s12'}, input_html: {class: 'materialize-textarea'} %>
    <%= f.input :nickname, wrapper_html: {class: 'hide'} %>
    <%= button_tag :submit, class: 'btn-flat btn-border red-text text-darken-4' do %>
        Send
        <i class="material-icons right">send</i>
    <% end %>
<% end %>