<div class="col s12 m8 offset-m2">
  <p>
    Morbi eu ligula et nibh eleifend tincidunt. Vestibulum tempor magna nulla, non aliquet ligula congue vehicula. Proin condimentum mauris at augue varius fermentum. Fusce fermentum massa neque. Nullam efficitur neque quis enim laoreet tristique. Donec sed feugiat erat. Praesent sed dictum nunc, vitae elementum massa. Vivamus ac pellentesque leo, ac facilisis eros. Fusce volutpat vestibulum est, eget fermentum quam dictum ac. Maecenas id ipsum vel justo pharetra pretium nec sit amet leo. Maecenas libero felis, viverra ut posuere eu, porta ac mauris. Nam molestie eget elit et lobortis.
  </p>
</div>