<!-- facebook -->
<%= link_to '#', class: 'btn-flat social_sites' do %>
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="#333" d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z"></path>
    </svg>
    <span>like us</span>
<% end %>
<!-- facebook -->
<!-- instagram + -->
<%= link_to '#', class: 'btn-flat social_sites' do %>
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="#333" d="M20,6.5A0.5,0.5 0 0,1 19.5,7H17.5A0.5,0.5 0 0,1 17,6.5V4.5A0.5,0.5 0 0,1 17.5,4H19.5A0.5,0.5 0 0,1 20,4.5M4.5,20A0.5,0.5 0 0,1 4,19.5V11H6.09C6.03,11.32 6,11.66 6,12A6,6 0 0,0 12,18A6,6 0 0,0 18,12C18,11.66 17.96,11.32 17.91,11H20V19.5A0.5,0.5 0 0,1 19.5,20M12,8A4,4 0 0,1 16,12A4,4 0 0,1 12,16A4,4 0 0,1 8,12A4,4 0 0,1 12,8M20,2H4C2.89,2 2,2.89 2,4V20A2,2 0 0,0 4,22H20A2,2 0 0,0 22,20V4C22,2.89 21.1,2 20,2Z"></path>
    </svg>
    <span>follow us</span>
<% end %>
<!-- instagram + -->