<div class="row center-align clear-text">
    <%= render 'intro' %>
    <div class="seperator"></div>
    <h3 class="thin col s12">Thoughts, Suggestions and Requests</h3>
    <div class="container">
        <div class="container valign-wrapper section">
            <div class="divider col s3"></div>
            <p class="col s6">Stay Old School</p>
            <div class="divider col s3"></div>
        </div>
        <div>
            <%= render 'address' %>
        </div>
        <div class="container valign-wrapper section">
            <div class="divider col s3"></div>
            <p class="col s6">Write Us An Email</p>
            <div class="divider col s3"></div>
        </div>
        <div class="contact-form section">
            <%= render 'form' %>
        </div>
        <div class="container valign-wrapper section">
            <div class="divider col s5"></div>
            <p class="col s2">or</p>
            <div class="divider col s5"></div>
        </div>
    </div>
    <div>
        <%= render 'social_sites' %>
    </div>
</div>