<div class="container row grid">
  <% @cart.cart_items.each do |cart_item| %>
    <%= render cart_item %>
  <% end %>
</div>
<div class="divider"></div>
<div class="section clear-text right-align">
  <p id="grand_total">Grand Total: <%= humanized_money_with_symbol @cart.total %></p>
</div>