<div style="height: 8vh;"></div>
<div class="row">
    <div class="col s6 offset-s3 m4 offset-m4">
        <h5 style="padding-bottom: 20px;">Log in</h5>
        <div class="seperator"></div>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), defaults: { input_html: { autocomplete: 'off' } }) do |f| %>
            <div class="form-inputs">
                <%= f.input :email, required: false %>
                <%= f.input :password, required: false %>
            </div>
            <div class="form-actions">
                <%= f.button :submit, "Log in", class: 'btn col s12' %>
            </div>
        <% end %>
    </div>
</div>