<% product = cart_item.product %>
<div class="grid-item">
  <div class="card card-cart">
    <div class="cart-remove">
      <%= link_to cart_item_path(cart_item, remove_item: true), class: 'red-text', method: :delete, remote: true, data: { disable_with: "<img src='/assets/ripple.svg'>" } do %>
        <i class="material-icons small">cancel</i>
      <% end %>
    </div>
    <%= link_to product, class: 'col s4 cart-image' do %>
      <%= image_tag(product.photos.where(three_sixty: true).first.image.url(:grid)) %>
    <% end %>
    <span class="col s8 clear-text">
      <p class="thick">Item <%= product.id %></p>
      <p><%= product.humanized_dimensions %></p>
      <% if product.limited? %>
        <p>Limited to only <%= product.limited_to %> unit ( <%= product.stock %> left )</p>
      <% else %>
        <p><%= product.stock %> left</p>
      <% end %>
      <p><%= humanized_money_with_symbol product.price %></p>
      <div>
        <%= simple_form_for cart_item, remote: true do |f| %>
          <%= f.input :quantity, as: :integer, wrapper_html: { class: 'col s7 m6 l5' }, input_html: { min: 1, max: cart_item.product.stock, placeholder: f.object.quantity } %>
          <%= button_tag :submit, class: 'btn-flat col s2 update-icon green-text', data: { disable_with: "<img src='/assets/ripple.svg'>" } do %>
            <i class="material-icons">done</i>
          <% end %>
          <%= link_to '', id: 'cancel', class: 'btn-flat col s2 update-icon red-text' do %>
            <i class="material-icons">clear</i>
          <% end %>
        <% end %>
      </div>
    </span>
    <div class="card-action col s12">
      <div class="right-align">
        <a class="item_sum btn-flat"><%= humanized_money_with_symbol cart_item.sum %></a>
      </div>
    </div>
  </div>
</div>