<% if !@description.nil? %>
	$("span.description").html("<%=j render 'products/description' %>").trigger("reinit");
<% else %>
	$("a[href='<%=j request.original_fullpath %>']").replaceWith("<%=j render 'products/cart_button', product: @product %>");
<% end %>