<% if !@remove_item.nil? %>
	$(".grid").masonry('remove', $("a[href='<%=j request.original_fullpath %>']").parents("div.grid-item")).masonry('layout');
	$("#grand_total").html("Grand Total: <%=j humanized_money_with_symbol @cart.total %>");
<% elsif !@description.nil? %>
	$("span.description").html("<%=j render 'products/description' %>").trigger("reinit");
<% else %>
	$("a[href='<%=j request.original_fullpath %>']").replaceWith("<%=j render 'products/cart_button', product: @product %>");
<% end %>