$("form[action='<%=j request.original_fullpath %>']").find(".update-icon").hide();
$("form[action='<%=j request.original_fullpath %>'] input#cart_item_quantity").attr("placeholder", "<%=j @cart_item.quantity.to_s %>");
$("form[action='<%=j request.original_fullpath %>']").parents(".card").find(".item_sum").html("<%=j humanized_money_with_symbol @cart_item.sum %>");
$("#grand_total").html("Grand Total: <%=j humanized_money_with_symbol @cart.total %>");