/* nprogress */
$nprogress-color: #ff8f00;
$nprogress-height: 0.3rem;
$nprogress-zindex: 3000;

/* nprogress */

/* imports */
@import "materialize";
@import "nprogress";

/* imports */

@mixin half-col {
    @extend .col;

    @extend .m6;

    @extend .s12;
}

@mixin animation-duration($duration) {
    -webkit-animation-duration: $duration;
    -moz-animation-duration: $duration;
    -ms-animation-duration: $duration;
    -o-animation-duration: $duration;
}

@mixin transition($args: 200ms) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -o-transition: $args;
    -ms-transition: $args;
    transition: $args;
}

@mixin transform($args) {
    -webkit-transform: $args;
    -moz-transform: $args;
    -ms-transform: $args;
    -o-transform: $args;
    transform: $args;
}

/* universal */
html {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    max-height: 100%;
    color: transparent;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.thin {
    font-weight: 200 !important;
}

.thick {
    font-weight: 800 !important;
}

.clear-text {
    p {
        @extend .flow-text;
    }
}

.seperator {
    @extend .col;

    @extend .s12;

    margin: 1rem;
}

h1, h2, h3, h4, h5, h6, span, p, label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

/* universal */

/* background */
.home {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;

    div.center-align {
        padding-top: 25vh;
    }
}

.about {
    max-width: 100%;
}

/* background */

/* navigation */
nav {
    background-color: white;
    opacity: 0.95;

    a {
        color: black !important;
    }
}

.navbar-fixed {
    opacity: 0.9;
}

.nav-wrapper ul {
    padding: 0 15%;

    > li {
        width: 25%;

        > a {
            text-align: center;
            padding: 0 !important;
        }
    }
}

.side-navigation {
    height: 100%;
    position: fixed;
    z-index: 10;
    right: 0;
    top: 0;
    text-align: center;

    .side-nav.fixed {
        width: 12rem;

        li {
            &:first-child {
                margin-top: 5vh;
            }

            a {
                height: 6vh;
                line-height: 6vh;
            }
        }

        > a {
            position: absolute;
            right: 0;
            left: 0;
            bottom: 20vh;
        }
    }
}

.side-nav-background {
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 12rem;
}

main {
    padding-right: 12rem;
}

.side-nav.fixed {
    left: calc(100% - 12rem);
}

@media only screen and (max-width: 992px) {
    main {
        padding-right: 0;
    }

    .background {
        top: 56px;
    }

    .side-nav.fixed, .side-nav-background {
        left: 200%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    .background {
        top: 64px;
    }
}

/* navigation */

/* store */
#products-wrapper {
    ul {
        font-size: 0;

        li {
            position: relative;
            vertical-align: middle;
            float: none;
            display: inline-block;
            font-size: 1.2rem;

            @media only screen and (max-width: 992px) {
                padding: 1px;
            }

            > div {
                &:hover {
                    img {
                        opacity: 0;
                    }

                    span {
                        opacity: 1;
                    }

                    div.cart {
                        opacity: 1;
                    }
                }

                > a {
                    img, span {
                        @include transition(0.3s ease-in-out);
                    }

                    > span {
                        @include transform(translateY(-50%));

                        position: absolute;
                        top: 40%;
                        right: 0;
                        width: 100%;
                        text-align: center;
                        opacity: 0;
                    }
                }

                > div.cart {
                    @include transition(0.3s ease-in-out);

                    position: absolute;
                    bottom: 10%;
                    opacity: 0;
                }
            }
        }
    }
}

.btn-border {
    border: solid 1px;
    border-radius: 20px;
}

/* store */

/* pagination */
#infinite-pagination {
    text-align: center;
}

.pagination {
    display: inline-block;
    box-shadow: none;
}

/* pagination */

/* progress */
.progress {
    background-color: #e0e0e0 !important;
}

div.determinate {
    background-color: #c6ff00 !important;
}

div.form-section {
    @include animation-duration(0.3s);

    margin-bottom: calc(2% + 3rem);
}

div.form-section-wrapper {
    position: relative;
}

.current_step {
    a {
        @extend .purple-text;
    }
}

.btn-progress {
    @extend .btn-large;

    @extend .white;

    box-shadow: none;
    position: absolute;
    top: 0;

    &:nth-of-type(1) {
        left: 0;
    }

    &:nth-of-type(2) {
        left: 50%;

        @include transform(translate(-50%));
    }

    &:nth-of-type(3) {
        right: 0;
    }

    &:hover {
        box-shadow: none;
    }

    .step {
        color: gray;
    }
}

.progress-wrapper {
    margin-top: 20px;

    > div {
        height: 55.5px;
        position: relative;
        display: flex;
        align-items: center;
    }
}

/* progress */

/* form */
.card-cart {
    box-shadow: none;
}

.cart-remove {
    position: absolute;
    right: 0;
}

.cart-image {
    border-top-left-radius: 2px;
    padding-left: 0 !important;
}

.card-action .left-align {
    padding-left: 1rem !important;

    a {
        padding-left: 0.5rem;
    }
}

.update-icon {
    margin-top: 1rem;

    &:focus {
        background-color: initial;
    }
}

.item_sum {
    font-size: 1.3rem;
}

.select-wrapper {
    font-size: 0;

    .select-dropdown {
        margin: 0 !important;
    }

    select {
        display: inline !important;
        height: 0 !important;
        padding: 0 !important;
        margin: 0 0 15px 0;
        opacity: 0;

        .browser-default {
            cursor: pointer;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid grey;
            outline: none;
            height: 3rem;
            line-height: 3rem;
            width: 100%;
            font-size: 1rem;
            margin: 0 0 15px 0;
        }
    }
}

option[value=""], ul.dropdown-content > li.disabled {
    display: none;
}

div.address_forms, div.contact_form {
    @extend .row;

    > div {
        @include half-col;

        div.row {
            margin-bottom: 0;

            div.city-state {
                @include half-col;
            }
        }
    }
}

.form_title {
    position: relative;

    .billing_toggle > a {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin-top: auto;
        margin-bottom: auto;
        padding: 0 1rem;
    }
}

span.error {
    font-size: 0.8rem;
    position: absolute;
    top: 48px;
    color: red;

    ~ input, ~ textarea, + div > input.select-dropdown {
        @extend .invalid;
    }
}

.txta > span.error {
    top: 84px;
}

.iconed > span.error {
    padding-left: 3rem;
}

#grand_total {
    padding-right: 1rem;
}

#toast-container {
    z-index: 2500;
}

.progress_arrow {
    position: fixed;
    bottom: 0;
    padding: 1% 0;

    @media only screen and (min-width: 992px) {
        width: calc(100% - 12rem);
    }

    @media only screen and (max-width: 992px) {
        width: 100%;
    }

    a {
        cursor: pointer;

        &:hover {
            color: #ce93d8 !important;
        }
    }
}

/* form */

/* preview */
.preview-form {
    width: 95%;
}

.preview {
    border-radius: 10px;
    border: solid 1px;
}

#three_sixty_preview {
    height: auto;
    padding: 5px 0;
}

#extra_preview {
    width: 100%;
    height: auto;

    img:last-child {
        padding-bottom: 5px;
    }
}

/* preview */

/* contact */
.contact-form {
    abbr {
        display: none;
    }

    button {
        &:hover {
            background-color: #e53935 !important;
            color: white !important;
        }

        &:focus {
            background-color: inherit;
        }
    }
}

.social_sites {
    display: inline-flex;

    svg {
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 1rem;
    }
}

/* contact */

/* 360 */
#threesixty {
    overflow: hidden;
}

#threesixty_images {
    display: none;
}

.current-image {
    display: block;
}

.previous-image {
    display: none;
}

#spinner {
    position: relative;

    span {
        position: absolute;
        top: 50%;
        right: 0;
        width: 100%;
        text-align: center;
        z-index: 100;

        @include transform(translateY(-50%));

        font-size: 48px;
    }

    .preloader-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 100;
        right: 0;
        left: 0;
        margin: auto;
        width: 128px;
        height: 128px;
    }

    #spinner-bg {
        opacity: 0.2;
        min-height: 128px;
    }
}

/* 360 */

/* product */
.description-wrapper {
    margin-top: 5%;
}

.description {
    p {
        padding-left: 0.75rem;
    }
}

/* product */

/* logo */
.home_logo {
    width: 35%;
    min-width: 15rem;
}

.side-nav_logo {
    position: absolute;
    width: 6rem;
    margin-right: 3rem;
    right: 0;
    top: 50%;

    @include transform(translateY(-50%));
}

.side-nav_background_logo {
    position: fixed;
    width: 6rem;
    margin-right: 3rem;
    right: 0;
    top: 50%;

    @include transform(translateY(-50%));
}

.title {
    padding: 3vh 0;

    .title_logo {
        height: 3rem;
        max-width: 80%;
    }
}

/* logo */

/* console */
.list {
    overflow-x: auto;
}

.notice {
    @extend .green.lighten-2;
}

.alert {
    @extend .red.lighten-2;
}

/* console */

.input-field {
    label {
        color: #424242;
    }

    input, textarea {
        border-bottom: 1px solid #424242  !important;

        &:focus {
            border-bottom: 1px solid #424242  !important;
            box-shadow: 0 1px 0 0 #424242  !important;

            + label {
                color: #424242  !important;
            }
        }
    }

    .dropdown-content {
        li:not(.disabled) {
            span {
                color: #424242  !important;
            }
        }
    }
}