<% describe ||= false %>
<!-- 1 -->
<% if !@cart.nil? && cart_item = @cart.included?(product.id) %>
  <!-- 2 -->
  <% if describe %>
    <%= link_to cart_item_path(cart_item, description: true), class: 'btn-flat waves-effect waves-red red-text btn-border', method: :delete, remote: true do %>
            <i class="material-icons left">remove_shopping_cart</i>
      remove from cart
    <% end %>
  <% else %>
    <%= link_to cart_item, class: 'btn-flat waves-effect waves-red red-text btn-border', method: :delete, remote: true do %>
            <i class="material-icons">remove_shopping_cart</i>
    <% end %>
  <% end %>
  <!-- 2 -->
<% else %>
  <!-- 3 -->
  <% if describe %>
    <%= link_to cart_items_path(product_id: product.id, description: true), class: 'btn-flat waves-effect waves-green green-text btn-border', method: :post, remote: true do %>
      <i class="material-icons left">add_shopping_cart</i>
      add to cart
      <% if stock = product.stock < 3 %>
        &nbsp;(<%= product.stock %> left)
      <% end %>
    <% end %>
  <% else %>
    <%= link_to cart_items_path(product_id: product.id), class: 'btn-flat waves-effect waves-green green-text btn-border', method: :post, remote: true do %>
      <i class="material-icons">add_shopping_cart</i>
    <% end %>
  <% end %>
  <!-- 3 -->
<% end %>
<!-- 1 -->