<p class="thick">Item <%= @product.id %></p>
<p><%= @product.humanized_dimensions %></p>
<% if @product.limited? %>
  <p>Limited to only <%= @product.limited_to %> unit ( <%= @product.stock %> left )</p>
<% else %>
  <p><%= @product.stock %> left</p>
<% end %>
<p><%= humanized_money_with_symbol @product.price %></p>
<% if !@cart.nil? && cart_item = @cart.included?(@product) %>
  <div>
    <%= simple_form_for cart_item, remote: true do |f| %>
      <%= f.input :quantity, as: :integer, wrapper_html: { class: 'col s4' }, input_html: { min: 1, max: @product.stock, placeholder: f.object.quantity } %>
      <%= button_tag :submit, class: 'btn-flat col s2 update-icon green-text', data: { disable_with: "<img src='/assets/ripple.svg'>" } do %>
        <i class="material-icons">done</i>
      <% end %>
      <%= link_to '', id: 'cancel', class: 'btn-flat col s2 update-icon red-text' do %>
        <i class="material-icons">clear</i>
      <% end %>
    <% end %>
  </div>
<% end %>
<div class="col s12">
  <div class="section">
    <%= render 'products/cart_button', product: @product, describe: true %>
  </div>
</div>