<%= simple_form_for(@product, html: {multipart: true}, defaults: { input_html: { autocomplete: 'off' } }) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.simple_fields_for :photo do |photo_builder| %>
      <%= render 'photo_fields', builder: photo_builder, label: '360 photo', name: 'three_sixty' %>
      <%= render 'photo_fields', builder: photo_builder, label: 'Extra photo',  name: 'extra' %>
    <% end %>
    <div class="seperator"></div>
    <%= f.input :price, as: :decimal, wrapper_html: { class: 'col s12' }, input_html: { class: 'info', id: 'price_info', min: 1 } %>
    <div class="seperator"></div>
    <p class="col s12">Dimensions (cm)</p>
    <%= f.input :length, as: :decimal, wrapper_html: { class: 'col s4' }, input_html: { class: 'info', id: 'length_info', min: 0 } %>
    <%= f.input :width, as: :decimal, wrapper_html: { class: 'col s4' }, input_html: { class: 'info', id: 'width_info', min: 0 } %>
    <%= f.input :height, as: :decimal, wrapper_html: { class: 'col s4' }, input_html: { class: 'info', id: 'height_info', min: 0 } %>
    <div class="seperator"></div>
    <%= f.input :limited_to, as: :integer, wrapper_html: { class: 'col s12' }, input_html: { class: 'info', id: 'limited_to_info', min: 0 } %>
    <%= f.input :stock, as: :integer, wrapper_html: { class: 'col s12' }, input_html: { class: 'info', id: 'stock_info', min: 0 } %>
    <div class="seperator"></div>
    <p class="col s12">Materials</p>
    <div id="materials" class="col s12">
      <%= f.simple_fields_for :materials do |material_builder| %>
        <%= render 'material_fields', f: material_builder %>
      <% end %>
      <div class='links'>
        <div class="seperator"></div>
        <%= link_to_add_association '+ add material', f, :materials, class: 'green-text' %>
      </div>
    </div>
  </div>
  <div class="seperator">
    <div class="divider"></div>
  </div>
  <div class="form-actions center">
    <%= f.button :submit %>
    <div class="seperator"></div>
  </div>
<% end %>