<div class="animated slideInUp">
  <%= link_to product do %>
    <%= image_tag(product.photos.find_by(cover: true).image.url(:grid)) %>
    <span>
      <p class="thick">Item <%= product.id %></p>
      <% if product.limited? %>
        <p>Limited to only <%= product.limited_to %> unit</p>
      <% end %>
      <p><%= humanized_money_with_symbol product.price %></p>
    </span>
  <% end %>
  <div class="cart center-align col s12">
    <div>
      <%= render 'cart_button', product: product %>
    </div>
  </div>
</div>