<div class='nested-fields card-panel section'>
  <%= f.input :image, label: false, wrapper_html: { class: 'file-field' } do %>
    <div class="btn">
      <span>material image</span>
      <%= f.input_field :image, as: :file, accept: 'image/jpg,image/jpeg,image/png', required: f.object.new_record? %>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text"/>
    </div>
  <% end %>
  <%= f.input :name %>
  <%= f.input :description, as: :text, input_html: { class: 'materialize-textarea' } %>
  <%= link_to_remove_association "- remove material", f, class: 'red-text' %>
</div>