<%= builder.input :image, label: false, wrapper_html: { class: 'file-field' } do %>
  <div class="btn">
    <span><%= label %></span>
    <%= builder.input_field name, as: :file, class: 'upload', id: name + '_upload', accept: 'image/jpg,image/jpeg,image/png', multiple: true, required: @product.new_record? %>
  </div>
  <div class="file-path-wrapper">
    <input class="file-path validate" type="text"/>
  </div>
<% end %>