<div class="row preview-form">
  <div class="col s6 card">
    <%= render 'form' %>
  </div>
  <div class="preview col s5 offset-s1">
    <%= render 'preview' %>
  </div>
</div>
<%= link_to 'Back', :back %>