<h6><strong>Preview <%= description ||= '' %></strong></h6>
<div id="three_sixty_preview" class="col s6"></div>
<div class="col s6">
  <span id="price_preview"></span><br>
  <span id="length_preview"></span>
  <span id="width_preview"></span>
  <span id="height_preview"></span>
</div>
<div id="extra_preview"></div>