<% @products.in_groups_of(5, false) do |group_5| %>
  <% group_5.in_groups_of(3, false) do |group_3_2| %>
    <ul class="row">
      <% if group_3_2.length == 3 %>
        <% group_3_2.each do |product| %>
          <li class="col s12 m4">
            <%= render 'grouped_product', product: product %>
          </li>
        <% end %>
      <% elsif group_3_2.length == 2 %>
        <% group_3_2.each do |product| %>
          <li class="col s12 m4 <%= cycle('offset-m1', 'offset-m2') %>">
            <%= render 'grouped_product', product: product %>
          </li>
        <% end %>
      <% else %>
        <% group_3_2.each do |product| %>
          <li class="col s12 m4 offset-m4">
            <%= render 'grouped_product', product: product %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>