$("#products-wrapper").append("<%=j render 'product_group' %>");
<% if @products.last_page? %>
  $(window).off("scroll");
  $("#infinite-pagination").html("");
<% else %>
  $("#infinite-pagination").html("<%=j paginate @products, remote: true %>");
<% end %>