<% provide(:og_image, @product.photos.find_by(cover: true).image.url(:grid)) %>

<div class="row clear-text">
  <div id="threesixty" class="col s12 m6">
    <div id="spinner">
      <span>0%</span>
      <%= render 'spinner' %>
      <%= image_tag(@three_sixties.first.image.url, id: 'spinner-bg') %>
    </div>
    <ul id="threesixty_images">
      <% @three_sixties.each do |three_sixty| %>
        <li>
          <%= image_tag(three_sixty.image.url) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col s12 m6 description-wrapper">
    <span class="description">
      <%= render 'description' %>
    </span>
  </div>
  <div class="materials col s12">
    <% @materials.each do |material| %>
      <div class='col s4 m3 offset-m1'>
        <%= image_tag(material.image.url) %>
      </div>
      <div class="col s8 m7">
        <p class="thick"><%= material.name %></p>
        <p><%= material.description %></p>
      </div>
      <p></p>
    <% end %>
  </div>
  <% @extras.each do |extra| %>
    <%= image_tag(extra.image.url) %>
  <% end %>
</div>