<%= link_to new_admin_path, class: "btn" do %>
    <i class="material-icons left">person_add</i>
    Register new admin
<% end %>
<div class="list">
    <table class="highlight">
        <thead>
            <tr>
                <th>Admin id</th>
                <th>Email</th>
                <th>Recent sign in at</th>
                <th>Recent sign in ip</th>
                <th>Failed sign in attempt</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            <% @admins.each do |admin| %>
                <tr>
                    <td><%= admin.id %></td>
                    <td><%= admin.email %></td>
                    <td><%= admin.current_sign_in_at.in_time_zone("Kuala Lumpur").to_formatted_s(:short) %></td>
                    <td><%= admin.current_sign_in_ip %></td>
                    <td><%= admin.failed_attempts %></td>
                    <td>
                        <%= link_to "edit", edit_admin_path(admin) %>
                    </td>
                    <td>
                        <% unless admin == current_admin %>
                            <%= link_to "delete", admin_path(admin), method: :delete, data: {confirm: "Delete #{admin.email}?"} %>
                        <% else %>
                            Self
                                <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>