<%= link_to new_product_path, class: "btn" do %>
    <i class="material-icons left">person_add</i>
    Register new product
<% end %>
<div class="list">
    <table class="highlight">
        <thead>
            <tr>
                <th>Product id</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            <% @products.each do |product| %>
                <tr>
                    <td><%= product.id %></td>
                    <td>
                        <%= link_to "edit", edit_product_path(product) %>
                    </td>
                    <td>
                        <%= link_to "delete", product_path(product), method: :delete, data: {confirm: "Delete #{product.id}?"} %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>