<div class="row">
    <ul class="tabs">
        <li class="tab col s3"><a href="#admins">Admins</a></li>
        <li class="tab col s3"><a href="#products">Products</a></li>
    </ul>
    <div id="admins" class="col s10 offset-s1">
        <div class="seperator"></div>
        <%= render 'admins_module' %>
    </div>
    <div id="products" class="col s10 offset-s1">
        <div class="seperator"></div>
        <%= render 'products_module' %>
    </div>
</div>