<% provide(:title, "Mashirona - Admin console") %>
<% flash.each do |message_type, message| %>
    <div class="chip <%= message_type %>">
        <%= message %>
        <i class="material-icons">close</i>
    </div>
<% end %>
<div class="seperator"></div>
<div>
    <% if admin_signed_in? %>
        <h5>
            Signed in as <%= current_admin.email %> | <%= link_to "Sign out", destroy_admin_session_path, :method => :delete %>
        </h5>
        <%= render 'tabs' %>
    <% else %>
        <h5>
            Not signed in | <%= link_to "Sign in", new_admin_session_path %>
        </h5>
    <% end %>
</div>
<script type="text/javascript">
    $("main").css("padding", 0);
</script>