<li><%= link_to 'Home', root_path %></li>
<li class="hide-on-med-and-down"><%= link_to 'About', root_path + '#about' %></li>
<li><%= link_to 'Contact', contact_path %></li>
<li><%= link_to 'Store', products_path %></li>
<li><%= link_to 'Cart', checkout_path %></li>