<div class="side-navigation hide-on-med-and-down">
    <%= image_tag("mashirona_brand_logo_negative.svg", class: "side-nav_background_logo") %>
    <ul class="side-nav fixed">
        <%= render 'layouts/navigation_links' %>
        <%= image_tag("mashirona_brand_logo.svg", class: "side-nav_logo") %>
    </ul>
    <div class="side-nav-background"></div>
</div>
<div class="navbar-fixed hide-on-large-only">
    <nav>
        <div class="nav-wrapper">
            <ul>
                <%= render 'layouts/navigation_links' %>
            </ul>
        </div>
    </nav>
</div>