<% desc = "get a god damn copywriter!!!" %>
<% keyw = "..." %>

<meta name="description" content="<%= desc %>">
<meta name="keyword" content="<%= keyw %>">
<meta property="og:title" content="<%= content_for?(:og_title) ? yield(:og_title) : "Mashirona" %>">
<meta property="og:type" content="website">
<meta property="og:description" content="<%= content_for?(:og_desc) ? yield(:og_desc) : desc %>">
<meta property="og:image" content="<%= content_for?(:og_image) ? yield(:og_image) : "/og-200x200.png" %>">