<!DOCTYPE html>
<html>
    <head>
        <title><%= content_for?(:title) ? yield(:title) : "Mashirona" %></title>
        <%= render 'layouts/seo' %>
        <meta content="True" name="HandheldFriendly">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="viewport" content="width=device-width">
        <%= render 'layouts/favicon' %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <%= render 'layouts/ext_resources' %>
    </head>
    <body>
        <%= include_gon() %>
        <%= render 'layouts/navigation' unless admin_signed_in? %>
        <main>
            <%= render 'layouts/title' unless action_name == 'home' %>
            <%= yield %>
        </main>
    </body>
</html>